{% extends "public.html" %} {% block page %}
<div class="row q-col-gutter-md justify-center">
  <div class="col-12 col-md-7 col-lg-6 q-gutter-y-md">
    <q-card class="q-pa-lg">
      <q-card-section class="q-pa-none">
        <h3 class="q-my-none">{{ email }}</h3>
        <br />
        <h5 class="q-my-none">{{ desc }}</h5>
        <br />
        <q-form @submit="submitInvoice()" class="q-gutter-md">
          <q-input
            filled
            dense
            v-model.trim="formDialog.data.receiver"
            type="text"
            label="Receiver"
          ></q-input>
          <q-input
            filled
            dense
            v-model.trim="formDialog.data.subject"
            type="text"
            label="Subject"
          ></q-input>
          <q-input
            filled
            dense
            v-model.trim="formDialog.data.message"
            type="textarea"
            label="Message "
          ></q-input>
          <p>Total cost: {{ cost }} sats</p>
          <div class="row q-mt-lg">
            <q-btn
              unelevated
              color="primary"
              :disable="formDialog.data.receiver == '' || formDialog.data.subject == '' || formDialog.data.message == ''"
              type="submit"
              >Submit</q-btn
            >
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="receive.show" position="top" @hide="closeReceiveDialog">
    <q-card
      v-if="!receive.paymentReq"
      class="q-pa-lg q-pt-xl lnbits__dialog-card"
    >
    </q-card>
    <q-card v-else class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <div class="text-center q-mb-lg">
        <a :href="'lightning:' + receive.paymentReq">
          <q-responsive :ratio="1" class="q-mx-xl">
            <qrcode
              :value="paymentReq"
              :options="{width: 340}"
              class="rounded-borders"
            ></qrcode>
          </q-responsive>
        </a>
      </div>
      <div class="row q-mt-lg">
        <q-btn outline color="grey" @click="copyText(receive.paymentReq)"
          >Copy invoice</q-btn
        >
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Close</q-btn>
      </div>
    </q-card>
  </q-dialog>
</div>

{% endblock %} {% block scripts %}
<script>
  window.app = Vue.createApp({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        paymentReq: null,
        redirectUrl: null,
        formDialog: {
          show: false,
          data: {
            subject: '',
            receiver: '',
            message: ''
          }
        },
        receive: {
          show: false,
          status: 'pending',
          paymentReq: null
        }
      }
    },

    methods: {
      closeReceiveDialog: function () {
        const checker = this.receive.paymentChecker
        dismissMsg()

        clearInterval(paymentChecker)
        setTimeout(function () {}, 10000)
      },
      submitInvoice() {
        axios
          .post('/smtp/api/v1/email/{{ emailaddress_id }}', {
            emailaddress_id: '{{ emailaddress_id }}',
            subject: this.formDialog.data.subject,
            receiver: this.formDialog.data.receiver,
            message: this.formDialog.data.message
          })
          .then(response => {
            this.paymentReq = response.data.payment_request
            this.paymentCheck = response.data.payment_hash

            dismissMsg = Quasar.Notify.create({
              timeout: 0,
              message: 'Waiting for payment...'
            })

            this.receive = {
              show: true,
              status: 'pending',
              paymentReq: this.paymentReq
            }

            paymentChecker = setInterval(() => {
              axios
                .get('/smtp/api/v1/email/' + this.paymentCheck)
                .then(res => {
                  if (res.data.paid) {
                    clearInterval(paymentChecker)
                    this.receive = {
                      show: false,
                      status: 'complete',
                      paymentReq: null
                    }
                    dismissMsg()
                    this.formDialog.data.subject = ''
                    this.formDialog.data.receiver = ''
                    this.formDialog.data.message = ''
                    Quasar.Notify.create({
                      type: 'positive',
                      message: 'Sent, thank you!',
                      icon: 'thumb_up'
                    })
                  }
                })
                .catch(Nbits.utils.notifyApiError)
            }, 2000)
          })
          .catch(LNbits.utils.notifyApiError)
      }
    }
  })
</script>
{% endblock %}
